SOLANA_SERVER_WALLET_ADDRESS=
SOLANA_SERVER_PRIVATE_KEY=
SOLANA_NET_URL=

ECO_TOKEN_MINT_ADDRESS=
ENCRYPTION_MASTER_KEY=

MONGODB_URL=

JWT_SECRET=

PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.8.2
TELEGRAM_TOKEN=8586923044:AAEhBARVUFljKMVFydCWUXd2wKf7uoFROEA
BOT_NAME="Terra Bot"
GEMINI_API_KEY=AIzaSyBGd_5IQcdvBv59H_rnipLZmhHuzKe_jtk